:root {
    --dark: #212121;
    --light: #f7fff0;
    --contrast: #42f5bf;
    --secondary: #f3ddec;
    --secondary-light: #f3ddec84;
    --warning: #bf3b5c;
    --border-radius: 3px;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: var(--dark)
}

body {
    background-color: var(--light);
    font-size: 16px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-column-then-row {
    display: flex;
    flex-direction: column;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: var(--secondary);
    z-index: -1;
}

.time-limit {
    font-weight: 600;
    font-size: 120%;
    margin: 20px;
}

.time-warning,
.time-warning * {
    color: var(--warning);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

section {
    width: 90%;
    margin: auto;
    text-align: center;
}

#leaderboard {
    display: none;
    /* margin-top: 20px; */
}

#leaderboard .container {
    width: 200px;
    height: 400px;
    margin: auto;
    overflow-y: auto;
    border: 5px solid var(--dark);
    border-radius: var(--border-radius);
}

#leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard td,
#leaderboard th {
    /* border: 1px solid var(--dark); */
    text-align: left;
    padding: 20px 10px;
}
/* #leaderboard .container p {
    height: 35px;
    display: block;
    margin: 0 auto;
    line-height: 35px;
    text-align: start;
} */

#leaderboard .container tr:nth-child(even) {
    background-color: rgba(0,0,0, 0.05);
}

#leaderboard form p {
    margin-bottom: 0;
}

#leaderbord form input[type="submit"] {
    margin: 10px 20px;
}

#initials {
    height: min-content;
}

.fade-in {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-name: fadeInRight;
}

@keyframes fadeInRight {
    from {
        transform: translateX(-20vw);
        opacity: 0%;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

.fade-out {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-name: fadeOutRight;
}

@keyframes fadeOutRight {
    from {
        transform: translateX(0);
        opacity: 100%;
    }

    to {
        transform: translateX(20vw);
        opacity: 0%;
    }
}

.question-text {
    font-size: 150%;
}

button,
input[type="submit"] {
    margin: 20px;
    padding: 10px;
    background-color: var(--contrast);
    border: none;
    border-radius: var(--border-radius);
    text-align: left;
    cursor: pointer;
    transition: background-color, opacity 300ms ease;
}

.answer-crossed {
    background-color: var(--secondary);
    opacity: 50%;
}

.answer-correct {
    font-weight: 600;
}

.no-cursor {
    cursor: auto;
}

.incorrect-shake {
    animation-duration: 0.15s;
    animation-timing-function: ease;
    animation-iteration-count: 3;
    animation-name: shake;
}

@keyframes shake {
    from {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(0);
    }
}

.penalty-timer-bar {
    height: 20px;
    width: 50%;
    margin: 20px auto;
    background-color: var(--warning);
    border-radius: var(--border-radius);

    animation-name: barShrink;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes barShrink {
    from {
        width: 50%;
        opacity: 0%;
    }

    20% {
        width: 50%;
        opacity: 100%;
    }

    to {
        width: 0px;
    }
}

footer {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

#btn-clear-leaderboard {
    display: none;
    margin: 20px auto;
}

footer a {
    text-decoration: none;
}

#btn-volume {
    margin: auto;
    margin-left: 0;
    padding: 0;
    /* padding-left: 20px; */
    font-size: 150%;
    height: min-content;
    background-color: transparent;
}


/* MEDIA QUERIES */
@media screen and (min-width: 800px) {
    section {
        width: 75%;
    }

    
}

@media screen and (min-width: 1000px) {
    .flex-column-then-row {
        flex-direction: row;
    }

    footer {
        position: fixed;
        bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    section {
        width: 50%;
    }
}